<!DOCTYPE html>
<html>
  <head>
    <title>
      NBP - waluty
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>NBP - waluty</h1>

    <a href="/nbp/kurs/">Kurs konkretnej waluty</a>
    <br>
    <a href="/nbp/tabela-kursow/">Tabela kursów</a>

  </body>
</html>
